---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;

// Import partials from `sass_dir` (defaults to `_sass`)
// Includes Bourbon, Neat, and Bitters (thanks, thoughtbot!)
@import
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "layout",
  "syntax-highlighting"
;

// Override some Neat goofiness.  Make code excerpts full width
// and line numbers not full width.

pre code {
    width:      100%;
}
pre code table {
    table-layout: auto;
}

td.gutter.gl {
    padding-left: 12px;
    padding-right: 12px;
}

// Override some image goofiness.  Let thumbnails sit side-by-side.

.page-content img.thumbnail {
    display:    inline;
    margin:     auto;
    width:      auto;
}

