// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/*
 * kbob - put a colored bar beside blockquotes.
 */

blockquote {
    font-style: italic;
/*    letter-spacing: 0.03em;*/
    font-size: larger;
    margin-left: 0;
    border-left: solid 15px #70aad0;
    padding-left: 25px;
}

